.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color:white;
    padding: 10px;
    border: grey solid 0.01em
  }
.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    border: 1px solid rgba(255, 255, 255, 0.8);
    width: 6em;
    padding: 20px;
    font-size: 30px;
    text-align: left;
  }

  .center-button-accept {
    display: inline-block;
    margin: 0.5em auto;
    border: white solid 0.07em;
    border-radius: 2em;
    color: white;
    background-color:paleturquoise;
    font-size: 0.75em;
    padding: 0.5em;
    transition: 1.5s;
    animation: displayButton 2s;
    animation-delay: 7.5s;
    -webkit-animation: displayButton 2s;
    -webkit-animation-delay: 7.5s;
  }

  .center-button-accept:hover {
    color: black;
    background-color: white;
    cursor: pointer;
  }

  .center-button-accept:disabled,
  button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

  .center-button-decline {
    display: inline-block;
    margin: 0.5em auto;
    border: white solid 0.07em;
    border-radius: 2em;
    color: white;
    background-color:red;
    font-size: 0.75em;
    padding: 0.5em;
    transition: 1.5s;
    animation: displayButton 2s;
    animation-delay: 7.5s;
    -webkit-animation: displayButton 2s;
    -webkit-animation-delay: 7.5s;
  }
  
  .center-button-decline:hover {
    color: black;
    background-color: white;
    cursor: pointer;
  }

  .center-button-decline:disabled,
  button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
  
.center-button-Contact {
    display: inline-block;
    margin: 0.5em auto;
    border: white solid 0.07em;
    border-radius: 2em;
    color: white;
    background-color:paleturquoise;
    font-size: 0.75em;
    padding: 0.5em;
    transition: 1.5s;
    animation: displayButton 2s;
    animation-delay: 7.5s;
    -webkit-animation: displayButton 2s;
    -webkit-animation-delay: 7.5s;
  }

  .center-button-Contact:hover {
    color: black;
    background-color: white;
    cursor: pointer;
  }

  .center-button-Contact:disabled,
  button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

