.avatar{
	position: absolute;
	margin-left: 10px;
	margin-top: 20px;
	height: 50px;
	margin-bottom: 10px;
}
.nav_bar{
	background-color: lightcyan;
    width: 96%;
    height: 2.2em;
    padding: 0 2%;
}
.nav_bar ul{
	margin: 0;
}
.nav_bar li{
	display: block;
}
.market{
	width: 100%;
	height: 30%;
	position: absolute;
	left: 5px;
	margin-bottom: 20px;
}
.market_button{
	border: 1px solid #3498db;
	width: auto;
	height: 30px;
	font-size: 15px;
	cursor: pointer;
	border-radius: 10%;
	background-color: none;
	color:#3498db;
	transition: 0.3s;
	float: left;
}
.market_button:hover{
	color: red;
}
.logout_button{
	border: 1px solid #3498db;
	width: auto;
	height: 30px;
	font-size: 15px;
	cursor: pointer;
	border-radius: 10%;
	background-color: none;
	color:#3498db;
	transition: 0.3s;
	float: right;
}
.logout_button:hover{
	color: red;
}
.profiles{
	width:96%;
	height: 100vh;
	position: relative;
	top: 20px;
}
.sales{
	width: 50%;
	height: 20%;
	font-size: 20px;
	text-align: left;
}
.orders{
	width: 50%;
	height: 20%;
	font-size: 20px;
	text-align: left;
}
.wishlist{
	width: 50%;
	height: 20%;
	font-size: 20px;
	text-align: left;
}
.profile_button{
	border: 1px solid #3498db;
	width: auto;
	height: 45%;
	font-size: 15px;
	cursor: pointer;
	border-radius: 10%;
	background-color: none;
	color:#3498db;
	transition: 0.3s;
	margin-left: 10px;
}
.profile_button:hover{
	color: #ff1493;
}
.profile_button:before{
	top:0;
	border-radius: 0 0 50% 50%;
}
.profile_button:hover::before{
	height: 180%;
}









.profile_textBox{
	border: 1px solid #3498db;
	width: 100%;
}

.Prfile_box_text{
	display: block;
    color: black;
    height: 2em;
    position: relative;
    left: 2%;
    flex: 1 1;
    margin: 0px;
    font-size: 200%;
    text-align: left;
}
.profile_box_container {
	display: inline-block;
	width: 20em;
	height: 27em;
	position: absolute;
	left: 2em;
	grid-template-columns: auto;
	padding: 1px;
  }
  
  .profile_box {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	height:100%;
	font-size: 30px;
	text-align: center;
  }





  .profile_detail_box_container {
	display: inline-block;
	width: 60em;
    left: 10%;
	position: relative;
	height: 30em;
	grid-template-columns: auto;
	padding: 1px;
  }
  
  .profile_detail_box {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	height:100%;
	font-size: 30px;
	text-align: center;
  }

  .img_profile {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	height:100%;
	font-size: 30px;
	text-align: center;
  }

  .userIconContainer {
	/* Add properties below */
	width: 8em;
    height: 16em;
    position: relative;
    float: left;
    left: 6%;
}

.userIcon {
	/* Add properties below */
	border-radius: 50%;
	width: 7em;
    height: 7em;
}

.userNameContainer {
	/* Add properties below */
	width: 7em;
    height: 7em;
    position: relative;
    float: left;
    left: 6%;
}

.userBoxName {
	/* Add properties below */
	font-size: 70%;
    margin-top: 10px;
    float: left;
    text-align: left;
	display: inline-block;
	margin-bottom: 1em;

}
.userBoxEmail {
	/* Add properties below */
	font-size: 70%;
    margin-top: 10px;
    float: left;
    text-align: left;
    display: inline-block;
}


.userDetailBoxName {
	/* Add properties below */
	font-size: 90%;
	margin-top: 2em;
	text-align: left;
	border-bottom: #3498db solid 0.1em
}

.userDetailInfoBox {
	/* Add properties below */
	font-size: 90%;
	margin-top: 2em;
	text-align: left;
	border-bottom: #3498db solid 0.1em;
}

.userDetailInfoBoxText {
	/* Add properties below */
	width:25%;
	float:left;
	font-size: 90%;
	text-align: left;
	display: inline-block;
}
.userDetailInfoBoxTextInput {
	/* Add properties below */
	font-size: 90%;
	text-align: left;
	display: inline-block;
}

.userInput {
	/* Add properties below */
	text-align: left;
    display: inline-block;
    margin-left: 0.5em;
}

.userDetailButoomBox {
	/* Add properties below */
	margin-top: 1.5em;
    height: 2.5em;
}



