.navigator {
    /* position: fixed; */
    background-color: lightcyan;
    width: 96%;
    height: 4.7em;
    padding: 0 2%;
}

.navigator ul {
    margin: 0;
}

.navigator li {
    display: block;
    float: right;
    margin: 1em 0.5em;
}

#logo {
    width: 80px; 
    float: left;
    /* position: relative; 
    left: 10px; */
}